<a href="https://colab.research.google.com/github/saitejachunduru/Python-_fundamentals-/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#swap two tuples
x=("apple","mango","orange")
y=("volvo","bmw","audi")
a=x
b=y
y=a
x=b
print(x)
print(y)

('volvo', 'bmw', 'audi')
('apple', 'mango', 'orange')

In [4]:
#how to create a dictionary
thisdict = {
    "brand" : "ford",
    "model" : "mustang",
    "year" : 1964
}
print(thisdict["year"])

1964

In [5]:
x = thisdict["brand"]
x

'ford'

In [8]:
#to display the key values
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [11]:
y=thisdict.values()
y

dict_values(['ford', 'mustang', 1964])

In [13]:
thisdict["model"] = "muscled"

In [14]:
thisdict["model"]

'muscled'

In [16]:
thisdict.update({"year":1999})
thisdict

{'brand': 'ford', 'model': 'muscled', 'year': 1999}

In [17]:
#to add both key and pair value, update function is used
thisdict.update({"country":"india"})
thisdict

{'brand': 'ford', 'model': 'muscled', 'year': 1999, 'country': 'india'}

In [19]:
#pop function is used to remove item (both key and  value)
thisdict.pop("year")

1999

In [20]:
thisdict

{'brand': 'ford', 'model': 'muscled', 'country': 'india'}

In [ ]:
#in sets pop function is used to remove random value

In [23]:
#to add both key and pair value
thisdict.update({"year":1999})
thisdict

{'brand': 'ford', 'model': 'muscled', 'country': 'india', 'year': 1999}

In [27]:
#to display all the values
for x in thisdict.values():
  print(x)

ford
muscled
india
1999

In [28]:
for x in thisdict.keys():
  print(x)

brand
model
country
year

In [29]:
for x in thisdict.items():
  print(x)

('brand', 'ford')
('model', 'muscled')
('country', 'india')
('year', 1999)

In [32]:
mydict = thisdict.copy()
mydict

{'brand': 'ford', 'model': 'muscled', 'country': 'india', 'year': 1999}

In [38]:
# creating Nested dictionary 1st type
family = {
    "child1" : {
      "name" : "teja",
       "age" : 24
    },
    "child2" : {
      "name" : "gow",
       "age" : 21
    }
}
print(family)

{'child1': {'name': 'teja', 'age': 24}, 'child2': {'name': 'gow', 'age': 21}}

In [39]:
# creating Nested dictionary 2nd type
child1 = {
    "name" : "tej",
    "year" : 1999
}
child2 = {
    "name" : "gothami",
    "year" : 2003
}

family = {
    "child1" : child1,
    "child2" : child2,
}
print(family)

{'child1': {'name': 'tej', 'year': 1999}, 'child2': {'name': 'gothami', 'year': 2003}}

In [40]:
print(family['child2'])

{'name': 'gothami', 'year': 2003}

In [42]:
print(family["child2"]["name"]) #to print name of 2nd child

gothami

this is sai